* {
   
}

html {
    background-color: rgb(15, 15, 15);
}

input {
    margin: 10px !important;
    text-decoration: brown;
}

.form-mine {


    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    color:rgb(15, 15, 15)
  }

.form-entry-mine {
    color:rgb(187, 187, 187);

    display: inline-block;
    vertical-align: middle;
    text-align: left;
    background-color: rgb(34, 34, 34);
    border-bottom: 0px;
    border-right: 0px;


    font-size: small;
    border-radius: 10px;

    width:inherit
}

.form-container {
    margin: auto;
    display: flex;
    width: 40%;
    text-align: center;
    background-color: rgb(15, 15, 15);
    justify-content:center

}

.button-container {
    position: relative;
    top: 20px;
    justify-content: end;
}

.header-control{
    justify-content: flex-start;
    font-size: small;
    color: rgb(255, 0, 0)
}

.body-control{
    position: relative;
    top:10px;
    background-color:rgb(15, 15, 15);
    color: rgb(15, 15, 15)
}

.label-mine{

    position: relative;
    top:40px;
    border-style: solid !important;
    border-color: rgb(34, 34, 34) !important;
    border-width:5px;
    text-align: center;
    border-radius: 10px;
    justify-content: center !important;
}

